.featuredProducts{

    margin: 5rem 10rem;
    .top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1.7rem;

        h1{
            flex: 2;
        }
        p{
            flex: 3;
            text-align: justify;
            color: grey;
        }
    }

    .bottom{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.8rem;
       
    }
}