.contact {
    background-color: blue;
    color: white;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .wrapper {
        width: 60%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        input {
            border: none;
            padding: .4rem;
            border-radius: .1rem 0 0 .1rem;
            outline: none;
        }

        button {
            border: none;
            padding: .4rem;
            border-radius: 0 .2rem .2rem 0;
            background-color: black;
            color: white;

            &:hover {
                background-color: rgb(36, 36, 36);
                transition: all .2s;
            }
        }

        .icons {
            display: flex;
            gap: .4rem;
            font-size: 1.2rem;

            .icon:hover{
                color: rgb(153, 153, 153);
                transition: all .2s;
            }
        }
    }
}